.login-form {
    margin: 15px 15px 0 15px;

    input {
        background-color: #111;
        padding: 5px 10px;
        color: #fff;
        border-radius: 3px;
        border: 1px solid #444; 
        width: 100%;
        font-family: Muli;
        font-weight: 200;
    }

    button {
        width: 100%;
        font-family: Muli;
        font-weight: 400;
    }

}

@mixin media-xs-login-form {
   .login-form {

        input {
            width: 150px;
        }

        button {
            width: 80px;
        }
    } 
}

@mixin media-sm-login-form {
   .login-form {

        input {
            width: 200px;
        }

        button {
            width: 80px;
        }
    } 
}

@mixin media-md-login-form {

    .login-form {

        input {
            width: 200px;
        }

        button {
            width: 80px;
        }
    }
} 