@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';

.song {
    border-bottom: 1px solid rgba(255,255,255,0.2);
    margin-bottom: 0px;
    background-color: #2A2A2A;
    cursor: pointer;

    &__thumb {
        width: 100%;
        height: auto;
        min-height: 70px;
    }

    &__info_container {
        margin-top: 15px;
        padding-left: 0;
    }

    &__titles {
        font-size: 16px;
        font-family: Muli;
        font-weight: 200;

        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .titles__maintitle {
            margin: 0;
        }
        
        .titles__subtitle {
            color: $gray-light;
        }
    }

    &__favorite {
        border: 0;
        background-color: transparent;
        font-size: 2.5em;
        color: #444;
    }

    .favorite--active {
        color: $brand-primary;
    }

    footer {
        text-align: right;
    }
}

@mixin grid-xsmall {
    .song {
        margin-bottom: 0px;

        &__info_container {
            margin-top: 10px;
        }
    }
}

@mixin grid-small {
    .song {
        border-bottom: 0;
        margin-bottom: 10px;

        &__info_container {
            margin-top: 10px;
            padding-left: 15px;
        }

        &__titles {
            padding-left: 0px;
            
            .titles__maintitle {
                font-size: 16px;
            }

            .titles__subtitle {
                font-size: 16px;
            }
        }

        footer {
            text-align: right;
        }
    }
}

@mixin grid-medium {
    .song {
        margin-bottom: 30px;

        &__info_container {
            margin-top: 10px;
            padding-left: 15px;
        }

        &__titles {
            padding-left: 0px;
            
            .titles__maintitle {
                font-size: 16px;
            }

            .titles__subtitle {
                font-size: 16px;
            }
        }
    }
}

@mixin grid-large {

    .song {
        margin-bottom: 30px;

        &__info_container {
            margin-top: 10px;
        }

        &__titles {           
            h4 {
                font-size: 18px;
            }
        }

        &__favorite {
            border: 0;
            background-color: transparent;
            font-size: 2.5em;
        }
    }
}