@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';

.song-details {

    &__thumb {
        width: 150px;
        height: auto;
    }

    &__button-fav {
        border-radius: 10px;
    }

    &__info_container {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    &__header-text {
        font-weight: 700;
        font-size: 48px;
    }

    &__sub-header-text {
        font-size: 16px;
    }

    &__secondary-text {
        color: #555;
        font-size: 16px;
    }

    &__button {
        border: 0;
        background-color: transparent;
        margin-bottom: 15px;
    }

}

@mixin media-lg-song-details {
    .song-details {

        &__thumb {
            width: 300px;
        }
    }
}