.song {

    border: 1px solid #ddd;
    margin-bottom: 12px;
    
    &__icon_container {
        background-color: #222;
        text-align: center;
    }

    &__icon {
        font-size: 250px;
        transition: font-size 0.3s;
        color: rgba(255,255,255,0.4);
    }

    &__title {

    }

    &__artist {

    }

    &__favorite {
        border: 0;
        background-color: transparent;
    }
}

@mixin grid-small {
    .song {
        &__icon {
            font-size: 100px;
        }
    }
}