/*
    Bootstrap variables overrides
*/
$fa-font-path: '../../node_modules/font-awesome/fonts';
$body-bg: #1A1A1A;
$text-color: #eee;
$navbar-default-bg: transparent;
$navbar-default-color: #111;

@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../../node_modules/font-awesome/scss/font-awesome';
@import './song';
@import './song-details';
@import './login-form';
@import './media-queries';