
<div class="song" [routerLink]="['/song-details', song.id]" (click)="storeSongDetails()" >
    <div class="row">
        <div class="col-lg-12 col-sm-4 col-xs-3">
            <div class="song__icon_container">
                <img src="/resources/{{song.thumb}}" class="song__thumb" alt="">
            </div>
        </div>
        <div class="col-lg-12 col-sm-8 col-xs-9 song__info_container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-8 col-xs-7">
                    <div class="song__titles">
                        <h4>{{song.track}}</h4>
                        <h5 class="titles__subtitle">{{song.artist}}</h5>
                    </div>
                </div>
                <footer class="col-lg-4 col-md-12 col-sm-4 col-xs-5">
                    <button *ngIf="userLogged" (click)="setFavorite($event)" class="song__favorite">
                        <span [ngClass]="{'favorite--active': song.isFavorite }" class="fa fa-star"></span>
                    </button>
                </footer>
            </div>
        </div>
    </div>
</div>

