<!--
    <div class="row song-details">
    <div class="col-lg-12">
        <h1><button [routerLink]="['/song-list']" class="song-details__button">
            <span class="fa fa-arrow-left"></span>
        </button>Song Details</h1>
    </div>
    <div class="col-lg-6 col-lg-offset-3">
        <div class="row">
            <div class="song-details__icon_container col-lg-12">
                <i class="fa fa-music song-details__icon"></i>
            </div>
            <div class="col-lg-12 text-center">
                <h2>{{song?.track}}</h2>
            </div>
            <div class="col-lg-12 text-center">
                <h4>{{song?.artist}}</h4>
            </div>
            <div class="col-lg-12 text-center">
                <h4>{{song?.album}}</h4>
            </div>
        </div>
    </div>
</div>
-->

<div class="row song-details">
    <div class="col-xs-12">
        <h1>
            <button [routerLink]="['/song-list']" class="song-details__button">
                <span class="fa fa-arrow-left"></span>
            </button></h1>
    </div>
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <span *ngIf="song?.thumb">
                    <img [src]="'/resources/' + song.thumb" alt="">
                </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6">
                <span class="song-details__header-text">{{song?.track}}</span>
            </div>
        </div>
    </div>
    <div class="col-xs-12 song-details__info_container">
        <div class="row">
            <div class="col-xs-12">
                <span class="song-details__sub-header-text">
                    <span class="song-details__secondary-text">by </span> 
                    {{song?.artist}}
                </span>
                <span class="song-details__sub-header-text"> - {{song?.album}}</span>
                <span class="song-details__secondary-text"> - {{song?.year}}</span>
                <span class="song-details__secondary-text"> - {{song?.length}}</span>
        </div>
    </div>
</div>